body{
    margin:0;
    padding:0;
    background: url('background.png');
    font-family: sans-serif;
}

.userLogin{
    position: absolute;
    top:50%;
    left:50%;
    background: #fff;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.user{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin:0;
    padding: 0 0 20px;
    color: #262626;
}

.inputBox input{
    width: 100%;
    margin-bottom: 20px;
}

.inputBox input[type="text"],
.inputBox input[type="password"]{
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    background: transparent;
    color: #262626;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.inputBox input[type="text"]:focus,
.inputBox input[type="password"]:focus{
    border-bottom: 2px solid #f00;
}

.inputBox {
    position: relative;
}

.inputBox span{
    position: absolute;
    top: 10px;
    color: #262626;
}
.inputBox input[type="submit"]{
    background: #ed292a;
    border-radius: 20px;
    color:#fff;
    font-size: 16px;
    height: 40px;
    border: none;
    outline: none;
}
