body{
    margin:0;
    padding:0;
    background: url('background.png');
    font-family: sans-serif;
}

.userLogin{
    position: absolute;
    top:50%;
    left:50%;
    background: #fff;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.user{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin:0;
    padding: 0 0 20px;
    color: #262626;
}
