body{
    margin:0;
    padding:0;
    background: url('background.png');
    font-family: sans-serif;
}

.userLogin{
    position: absolute;
    top:50%;
    left:50%;
    background: #fff;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    border-radius: 10px;
}
